    <hr>

    <!-- footer -->
    <footer class="footer">
        <div class="text-center text-muted">
            &#169; 2016 by <a href="http://glendoncheney.com" target="_blank">Glendon Cheney</a>
        </div>
    </footer>

    <!-- scripts -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- custom scripts -->
    <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>