    <hr>
    <footer class="footer">
        <div class="text-center text-muted">
            &#169; 2016 by <a href="http://glendoncheney.com" target="_blank">Glendon Cheney</a>
        </div>
    </footer>
</body>
</html>