<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Manage My Account</h1>
            <div class="well clearfix">
                <h3>My Details</h3>
                <form action="/account/manage/details" method="POST" id="details-form">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" name="details" required><%= user.details %></textarea>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Update Details</button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="well clearfix">
            <h3>Change Password</h3>
                <form action="/account/manage/password" method="POST" id="new-password-form">
                    <div class="form-group">
                      <input class="form-control" type="password" name="newPassword" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm New Password" required>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>