#delete-form {
    display: inline;
}

.tutorial-list {
    display:flex; 
    flex-wrap: wrap
}

hr {
    height: 2px;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.navbar {
    /* remove rounded navbar corner */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.text-muted {
    font-family: courier,'new courier'
}

.close {
    margin-top: 12px;
    margin-right: 10px;
}
