/* General styles */

body { 
    /* for navbar-fixed-top */
    padding-top: 70px; 
}


#delete-form {
    display: inline;
}

#btn-preview {
    margin-bottom: 10px;
}

.tutorial-list {
    display:flex; 
    flex-wrap: wrap
}

hr {
    height: 2px;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.text-muted {
    font-family: courier,'new courier'
}

.close {
    margin-top: 12px;
    margin-right: 10px;
}

.search-dropdown-input {
    width: 400px;
}

.hidden {
    display: none;
}

label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 5px;
    padding: 0;
}

/* Search input styles */

#tutorial-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#tutorial-search-input input{
    border: 0;
    box-shadow: none;
}

#tutorial-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#tutorial-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#navbar-search-input {
  width:220px;
  -webkit-transition:width 0.3s ease-in-out;
}

/* Override Bootstrap Styles */

.navbar {
    /* remove rounded navbar corner */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-inverse, .navbar-default {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-control { 
    border-radius: 4px;
}

.btn-sm {
    margin: 0 5px 0 5px;
}

.btn-lg {
    margin: 0 5px 0 5px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-top: 10px;
    border-top: 1px solid grey;
    background-color: #efefef;
    text-align: center;
}

/* media queries */
@media screen and (min-device-width: 1200px)  { 
    
    /* only exand search input on laptops or larger */
    #navbar-search-input:focus {
        width:420px;
        -webkit-transition:width 0.5s ease-in-out;
    }
    
}

@media screen and (min-width: 768px) {
    
    .modal-horizontal {
        width: 80%; 
    }
    
}

@media screen and (max-width: 768px) {
    /* for bootstrap navbar-fixed-top */
    body { 
        padding-top: 70px; 
    }
}


