/* General styles */

#delete-form {
    display: inline;
}

.tutorial-list {
    display:flex; 
    flex-wrap: wrap
}

hr {
    height: 2px;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.text-muted {
    font-family: courier,'new courier'
}

.close {
    margin-top: 12px;
    margin-right: 10px;
}

.search-dropdown-input {
    width: 400px;
}

.hidden {
    display: none;
}

/* Search input styles */

#tutorial-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#tutorial-search-input input{
    border: 0;
    box-shadow: none;
}

#tutorial-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#tutorial-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#navbar-search-input {
  width:220px;
  -webkit-transition:width 0.3s ease-in-out;
}


/* Modal styles */
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}


/* Override Bootstrap Styles */

.navbar {
    /* remove rounded navbar corner */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.form-control { 
    border-radius: 4px;
}

.btn-sm {
    margin: 0 5px 0 5px;
}

.btn-lg {
    margin: 0 5px 0 5px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-top: 1px solid grey;
    background-color: #efefef;
    text-align: center;
}

/* laptops and larger */
@media screen and (min-device-width: 1200px)  { 
    
    /* only exand search input on laptops or larger */
    #navbar-search-input:focus {
        width:420px;
        -webkit-transition:width 0.5s ease-in-out;
    }
    
}

