<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">All Tutorials</h3>
        </div>
    </div>
    
    <div class="row text-center tutorial-list">
        <% tutorials.forEach(function(tutorial){ %>
            <div class="col-md-3 col-sm-6">
                <div class="well">
                    <div class="text-center">
                        <h3><%= tutorial.title %></h3>
                    </div>
                    <p>
                        <a href="/tutorials/<%= tutorial._id %>" class="btn btn-primary">Read More</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
