<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1>Oops!</h1>
                        <h3>Sorry, it looks like the page at <%= url %> doesn't exist.</h3>
                        <h3><a href="/">Go Home</a></h3>
                    </div>                
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
