<!--Flash Display -->
<div class="container" id="flash-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% if (success.length > 0 || error.length > 0) { %>
                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <p class="text-center"><%= success %></p>
                </div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <p class="text-center"><%= error %></p>
                </div>
            <% } %>
        </div>
    </div>
</div>
<!--End Flash Display -->