<br />
<br />    
<br />  
    <% if (!currentUser) { %>
        <% include ./login-modal %>
        <% include ./signup-modal %>
    <% } %>

    <!-- footer -->
    <footer class="footer">
        <div class="text-center text-muted">
            &#169; 2016 by <a href="http://glendoncheney.com" target="_blank">Glendon Cheney</a>
        </div>
    </footer>

    <!-- Minified and concatenated javascript -->
    <script type="text/javascript" src="/dist/js/bundle.min.js"></script>
</body>
</html>