<div class="text-center">
    <%  for (var i = 1; i <= pagination.totalPages; i++) { 
            var url =  pagination.url + '?page=' + i;
            if (pagination.q) { 
                url += '&q=' + pagination.q; 
            }
            if (pagination.sort) { 
                url += '&sort=' + pagination.sort; 
            }
            if (i == pagination.currentPage) { %>
                <a href="<%= url %>" class="btn btn-primary selected"><%= i %></a>
            <% } else { %>
                <a href="<%= url %>" class="btn btn-default"><%= i %></a>
        <%  } %>
    <%  } %>
</div>