<!-- Preview Modal -->
    <div class="modal fade form-horizontal" id="previewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Preview Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Tutorial Preview
                    </h4>
                </div>

                <!-- Preview Modal Body -->
                <div class="modal-body">
                    <div id="preview-content"></div>
                </div>

                <!-- Preview Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- Preview Modal End -->