<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 class="text-center">Create a New Coding Tutorial</h1>
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="well clearfix">
                <form action="/tutorials/" method="POST" id="tutorial-form">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" name="title" placeholder="Your title goes here..." required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input class="form-control" type="text" name="description" placeholder="Describe your tutorial..." required>
                    </div>
                    <div class="form-group">
                      <label for="content">Content:</label>
                      <textarea class="form-control" rows="25" name="content" id="content" placeholder="Your tutorial goes here..." required></textarea>
                    </div>
                    <div class="form-group">
                        <div class="well clearfix">
                            <button class="btn btn-md btn-default pull-left" id="btn-preview" data-toggle="modal" data-target="#preview-modal">Preview</button>
                            <div class="pull-right">
                                <button class="btn btn-primary" name="save" value="Save Tutorial" type="submit">Save Tutorial</button>
                                <button class="btn btn-success" name="publish" value="Publish Tutorial" type="submit">Publish Tutorial</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a class="btn btn-primary pull-left" href="/tutorials"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
        </div>
        
        <% include ../partials/preview-modal %>
        
    </div>
</div>

<% include ../partials/footer %>
