<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Our Tutorials</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/tutorials/" method="GET">
                <div id="tutorial-search-input col-md-12">
                    <h4 class="text-center text-muted">Sort By</h4>
                    <div class="form-group">
                        <select class="form-control" id="sort" name="sort">
                            <option>Most Recent</option>
                            <option>Oldest</option>
                        </select>
                    </div>
                    <h4 class="text-center text-muted">Search by Title, Content, or Author</h4>
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" name="q" placeholder="Find a Tutorial" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% if (message !== '') { %>
                <h3 class="text-center"><%= message %></h3>
            <% } %>
        </div>
    </div>
    
    <% include ../partials/tutorial-list %>
    
    <% include ../partials/pagination %>
    
</div>
<% include ../partials/footer %>
