<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>About Coder Tutorials</h1>
                    <p>Coder Tutorials is a place where people can share Markdown-based tutorials related to coding.</p> 
                    <p>It was created and maintained by <a href="http://glendoncheney.com" target="_blank"><b>Glendon Cheney</b></a>.</p>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>