<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h1>About Coder Tutorials</h1>
                
                    <p>Coder Tutorials is a platform for providing tutorials on coding and software development to others using <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.</p>
                    
                    <p>It was created and is maintained by <a href="http://glendoncheney.com" target="_blank"><b>Glendon Cheney</b></a> on <a href="https://github.com/gcheney/coder-tutorials">Github</a>.</p>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>